<script type="text/javascript" src="../../../js/add_players.js"></script>
<div name="counter">
	<input id="count" type="text"/>
	<input id="set_count" type="button" value="人数反映" onclick="set_count()"/>
</div>
<form method="post" id="login_form">
	<div id="message"></div>
	<div id="players">
		<div id="player0" class="div_player">
			<label>参加者1</label><input type="text" id="name0" class="txt_player">
		</div>
	</div>
	<input type="button" onclick="post_players()" value="追加">
</form>
